﻿@model IPagedList<mvcHaber.Models.Makale>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<h2>Haberler</h2>
<p>
    @Html.ActionLink("Yeni Haber Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Kategori Adı")

        </th>
        <th>
            @Html.Label("Başlık")

        </th>
        <th>
            @Html.Label("Foto")

        </th>

        <th>
            @Html.Label("Tarih")
        </th>

        <th>
            @Html.Label("Okunma Sayısı")

        </th>
        <th>
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.KategoriAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>

            <td>
                <img width="75" src="@item.Foto" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Okunma)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MakaleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MakaleId })
            </td>
        </tr>
    }

</table>
<div class="pagination">
    <nav>
        <ul>
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic);
        </ul>
    </nav>
</div>
