﻿@using (Html.BeginForm("HaberAra", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ // Home nin içindeki BLogara actionuna gidiyor.
<div class="clearfix search floatright">
    <form>
        <input id="Ara" name="Ara" type="text" placeholder="Search" />
        <input value="Ara" type="submit" />
    </form>
</div>
}