﻿
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "contact-form", action = "" }))
{


    <div class="clearfix content">

        <div class="contact_us">

            <h1>İletişim</h1>

            <p></p>

            <form>
                <p><input type="text" name="adSoyad" class="wpcf7-text" placeholder="İsim Soyisim" /></p>
                <p><input type="email" name="email" class="wpcf7-email" placeholder="Email" /></p>
                <p><input type="text" name="konu" class="wpcf7-text" placeholder="Konu*" /></p>
                <p><textarea class="wpcf7-textarea" name="mesaj" placeholder="Mesajınız*"></textarea></p>
                <p><input type="Submit" class="wpcf7-submit" value="Gönder" /></p>
            </form>

        </div>

    </div>
}

