﻿    @using PagedList
@using PagedList.Mvc
@model IPagedList<mvcHaber.Models.Makale>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    Html.RenderAction("SliderPartial", "Home");
}

<div class="clearfix single_content">
    @foreach (var item in Model)
    {
        <div class="clearfix post_date floatleft">



            <h3>27</h3>
            <p>January</p>
        </div>
        <div class="clearfix post_detail">
            <h2><a href="/Home/MakaleDetay/@item.MakaleId">@item.Baslik</a></h2>
            <div class="clearfix post-meta">
                <p><span>Admin</span> <span>@item.Tarih</span> <span>Yorum Sayısı: @item.Yorums.Count()</span> <span>@item.Kategori.KategoriAd</span></p>
            </div>
            <div class="clearfix post_excerpt">
                <img src="@item.Foto " alt="" />

                @if (item.Icerik.Length > 150)
                {
                    <p>@Html.Raw(item.Icerik.Substring(0, 150)) </p> // Veritabanına kaydetmiş olduğumuz html  kodu olan şeyleri de buraya yansıtıyoruz
                }
                else
                {
                    <p>@Html.Raw(item.Icerik)</p>
                }

            </div>

            <a href="/Home/MakaleDetay/@item.MakaleId">Devamını Oku</a>
        </div>
    }
    <div class="pagination">
        <nav>
            <ul>
                @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic);
            </ul>
        </nav>
    </div>


</div>



