﻿@model IEnumerable<mvcHaber.Models.Kategori>
@{ 
    Layout = null;
}
<div class="clearfix single_sidebar category_items">
<h2>Kategoriler</h2>
<ul>
    @foreach (var item in Model)
    {
        <li class="cat-item"><a href="/Home/KategoriMakale/@item.KategoriId">@item.KategoriAd</a>(@item.Makales.Count())</li>
    }
</ul>
</div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAd)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAd)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.KategoriId }) |
                @Html.ActionLink("Details", "Details", new { id=item.KategoriId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.KategoriId })
            </td>
        </tr>
    }

    </table>*@
