﻿@model IEnumerable<mvcHaber.Models.Makale>

@{
    ViewBag.Title = "KategoriMakale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="clearfix single_content">
    @foreach (var item in Model)
    {
        <div class="clearfix post_date floatleft">



            <h3>27</h3>
            <p>January</p>
        </div>
        <div class="clearfix post_detail">
            <h2><a href="/Home/MakaleDetay/@item.MakaleId">@item.Baslik</a></h2>
            <div class="clearfix post-meta">
                <p><span>Admin</span> <span>@item.Tarih</span> <span>Yorum Sayısı: @item.Yorums.Count()</span> <span>@item.Kategori.KategoriAd</span></p>
            </div>
            <div class="clearfix post_excerpt">
                <img src="@item.Foto " alt="" />

                @if (item.Icerik.Length > 150)
                {
                    <p>@Html.Raw(item.Icerik.Substring(0, 150)) </p> // Veritabanına kaydetmiş olduğumuz html  kodu olan şeyleri de buraya yansıtıyoruz
                }
                else
                {
                    <p>@Html.Raw(item.Icerik)</p>
                }

            </div>

            <a href="/Home/MakaleDetay/@item.MakaleId">Continue Reading</a>
        </div>
    }


</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UyeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Okunma)
        </th>
        <th></th>
    </tr>*@

@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.KategoriAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UyeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Okunma)
            </td>
        </tr>
    }

    </table>*@
