﻿@model mvcHaber.Models.Makale

@{
    ViewBag.Title = "MakaleDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix content">

    <h1>@Model.Baslik</h1>
    <div class="clearfix post-meta">
        <p><span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> @Model.Tarih </span> <span><i class="fa fa-comment"></i>@Model.Yorums.Count() Yorum</span> <span><i class="fa fa-folder"></i>@Model.Kategori.KategoriAd</span></p>
    </div>





    <div class="rectangle_medium aligncenter"><img src="@Model.Foto " alt="" /></div>


    <p>
        @Html.Raw(Model.Icerik)
    </p>

</div>






@*<div>
        <h4>Makale</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kategori.KategoriAd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Baslik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Baslik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Icerik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Icerik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Foto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UyeId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UyeId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Okunma)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Okunma)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MakaleId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
