﻿@model IEnumerable<mvcHaber.Models.Makale>

@{ 
    Layout = null;
}

<div class="clearfix single_sidebar">
    <div class="popular_post">
        <div class="sidebar_title"><h2>Popüler Haberler</h2></div>
        <ul>
            @foreach (var item in Model)
            {


                <li><a href="/Home/MakaleDetay/@item.MakaleId">@item.Baslik (@item.Okunma) </a></li>
            }
        </ul>
    </div>
</div>
