﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<!--
---- Clean html template by http://WpFreeware.com
---- This is the main file (index.html).
---- You are allowed to change anything you like. Find out more Awesome Templates  wpfreeware.com
---- Read License-readme.txt file to learn more.
-->

<head>
    <title>Welcome to my site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Oswald Font -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/Content/Kaynak/site/css/tooltipster.css" />
    <!-- home slider-->
    <link href="~/Content/Kaynak/site/css/pgwslider.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="css/stylesheet" href="~/Content/Kaynak/site/css/font-awesome.min.css">
    <link href="~/Content/Kaynak/site/style.css" rel="stylesheet" media="screen">
    <link href="~/Content/Kaynak/site/style.css" rel="stylesheet" media="screen">
</head>

<body>

    <section id="header_area">
        <div class="wrapper header">
            <div class="clearfix header_top">
                <div class="clearfix logo floatleft">
                    <a href=""><h1><span>HABER</span> SİTESİ</h1></a>
                </div>
               @Html.Partial("HaberAraPartial")
            </div>
            <div class="header_bottom">
                <nav>
                    <ul id="nav">
                        <li><a href="/Home/Index/">Ana Sayfa</a></li>
                        @*<li><a href="/Home/Hakkimizda/">Hakkımızda</a></li>*@
                        <li><a href="/Home/Iletisim/">İletişim</a></li>
                        @*@if (Session["uyeid"] != null)
        {
            <li><a href="/Uye/Index/@Session["uyeid"]">@Session["kullaniciadi"]</a></li>
            <li><a href="/Uye/Logout/">Çıkış</a></li>
            if (Convert.ToInt32(Session["yetkiid"]) == 1)
            {
                <li><a href="/Admin/Index/" target="_blank">Admin Paneli</a></li>

            }
        }
        else
        {
            <li><a href="/Uye/Login/">Giriş</a></li>

        }*@
                        @if (Session["uyeid"] != null)
                        {
                            <li id="dropdown" style="float:right">
                                <a href="">@Session["kullaniciadi"]</a>
                                <ul>
                                    <li class="glyphicon glyphicon-user"><a href="/Uye/Index/@Session["uyeid"]">Profil</a></li>
                                    @if (Convert.ToInt32(Session["yetkiid"]) == 1)
                                    {
                                        <li><a href="/Admin/Index/" target="_blank">Admin Paneli</a></li>

                                    }
                                    <li><a href="/Uye/Logout/">Çıkış</a></li>


                                </ul>
                            </li>
                        }
                        else
                        {
                            <li id="dropdown" style="float:right">
                                <a href="">Giriş</a>
                                <ul>
                                    <li><a href="/Uye/Login/">Giriş</a></li>
                                    <li><a href="/Uye/Create/">Kayıt Ol</a></li>
                                </ul>
                            </li>
                            
                           


                        }
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section id="content_area">
        <div class="clearfix wrapper main_content_area">

            <div class="clearfix main_content floatleft">

                @*<div class="clearfix slider">
                    <ul class="pgwSlider">
                        <li><img src="~/Content/Kaynak/site/images/thumbs/megamind_07.jpg" alt="Paris, France" data-description="Eiffel Tower and Champ de Mars" data-large-src="~/Content/Kaynak/site/images/slides/megamind_07.jpg" /></li>
                        <li><img src="~/Content/Kaynak/site/images/thumbs/wall-e.jpg" alt="Montréal, QC, Canada" data-large-src="~/Content/Kaynak/site/images/slides/wall-e.jpg" data-description="Eiffel Tower and Champ de Mars" /></li>
                        <li>
                            <img src="~/Content/Kaynak/site/images/thumbs/up-official-trailer-fake.jpg" alt="Shanghai, China" data-large-src="images/slides/up-official-trailer-fake.jpg" data-description="Shanghai ,chaina" />
                        </li>


                    </ul>
                </div>*@
                @*<div class="clearfix content">
                    <div class="content_title"><h2>Son Haberler</h2></div>*@

                    @RenderBody()

                @*</div>*@


                @*<div class="pagination">
                    <nav>
                        <ul>
                            <li><a href=""> << </a></li>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href=""> >> </a></li>
                        </ul>
                    </nav>
                </div>*@
            </div>
            <div class="clearfix sidebar_container floatright">

                @*<div class="clearfix newsletter">
                    <form>
                        <h2>Signup for newsletter</h2>
                        <input type="text" placeholder="Name" id="mce-TEXT" />
                        <input type="email" placeholder="Name" id="mce-EMAIL" />
                        <input type="submit" value="Submit" id="mc-embedded-subscribe" />
                    </form>
                </div>*@
                <div class="clearfix sidebar">
                    @{
                        Html.RenderAction("KategoriPartial", "Home");
                    }


                    @{
                        Html.RenderAction("PopulerHaberler", "Home");
                    }

                    @{
                        Html.RenderAction("SonHaberler", "Home");
                    }
                    @*
                    @*

                        <div class="clearfix single_sidebar">
        <div class="popular_post">
            <div class="sidebar_title"><h2>Popüler Haberler</h2></div>
            <ul>
                <li><a href="">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </a></li>
                <li><a href="">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </a></li>
                <li><a href="">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </a></li>
                <li><a href="">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </a></li>
                <li><a href="">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </a></li>
            </ul>
        </div></div>
                    *@

                    @*Burada kategoriler bölümünün kodu vardı*@



                    @*<div class="clearfix single_sidebar">
                        <h2>Recent Post</h2>
                        <ul>
                            <li><a href="">Category Name <span>()</span></a></li>
                        </ul>
                    </div>
                </div>*@
                    </div>
                </div>
            </section>

            <section id="footer_top_area">
                <div class="clearfix wrapper footer_top">
                    <div class="clearfix footer_top_container">
                        <div class="clearfix single_footer_top floatleft">
                            @*<h2>From Twitter</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <a href="">Lorem Ipsum has been the industry</a> standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>*@
                        </div>
                        <div class="clearfix single_footer_top floatleft">
                            @*<h2>Recent Post</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy <a href="">Lorem Ipsum has been the industry</a> text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>*@
                        </div>
                        <div class="clearfix single_footer_top floatleft">
                            <h2>Yararlı Linkler</h2>
                            <ul>
                                <li><a href="">Link1</a></li>
                                <li><a href="">Link2</a></li>
                                <li><a href="">Link3</a></li>
                                @*<li><a href="">Link4</a></li>*@
                                @*<li><a href="">Link5</a></li>
                                <li><a href="">Link6</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section id="footer_bottom_area">
                <div class="clearfix wrapper footer_bottom">
                    <div class="clearfix copyright floatleft">
                        <p> </p>
                    </div>
                    <div class="clearfix social floatright">
                        <ul>
                            <li><a class="tooltip" title="Facebook" href=""><i class="fa fa-facebook-square"></i></a></li>
                            <li><a class="tooltip" title="Twitter" href=""><i class="fa fa-twitter-square"></i></a></li>
                            <li><a class="tooltip" title="Google+" href=""><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a class="tooltip" title="LinkedIn" href=""><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a class="tooltip" title="tumblr" href=""><i class="fa fa-tumblr-square"></i></a></li>
                            <li><a class="tooltip" title="Pinterest" href=""><i class="fa fa-pinterest-square"></i></a></li>
                            <li><a class="tooltip" title="RSS Feed" href=""><i class="fa fa-rss-square"></i></a></li>
                            <li><a class="tooltip" title="Sitemap" href=""><i class="fa fa-sitemap"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.0.min.js"></script>
            <script type="text/javascript" src="~/Content/Kaynak/site/js/jquery.tooltipster.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.tooltip').tooltipster();
                });
            </script>
            <script type="text/javascript" src="~/Content/Kaynak/site/js/selectnav.min.js"></script>
            <script type="text/javascript">
                selectnav('nav', {
                    label: '-Navigation-',
                    nested: true,
                    indent: '-'
                });
            </script>
            <script src="~/Content/Kaynak/site/js/pgwslider.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.pgwSlider').pgwSlider({

                        intervalDuration: 5000

                    });
                });
            </script>
            <script type="text/javascript" src="~/Content/Kaynak/site/js/placeholder_support_IE.js"></script>

            <!--
            ---- Clean html template by http://WpFreeware.com
            ---- This is the main file (index.html).
            ---- You are allowed to change anything you like. Find out more Awesome Templates  wpfreeware.com
            ---- Read License-readme.txt file to learn more.
            -->

        </body>
        </html>
