﻿@{ 
    if (Session["yetkiid"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    if (Convert.ToInt32(Session["yetkiid"]) != 1)
    {
        Response.Redirect("~/Home/Index");
    }
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Paneli</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="~/Content/Kaynak/adminsite/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/Content/Kaynak/adminsite/assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="~/Content/Kaynak/adminsite/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="~/Content/Kaynak/adminsite/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">HABER SİTESİ</a>
            </div>

            <div class="header-right">

                
                <a href="/Uye/Logout/" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>


            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            

                            <div class="inner-text">
                                Admin
                                <br />
                                
                            </div>
                        </div>

                    </li>


                    <li>
                        <a href="/AdminKategori/Index"><i class="fa fa-dashboard "></i>Kategoriler</a>
                    </li>

                    <li>
                        <a href="/AdminHaber/Index"><i class="fa fa-dashboard "></i>Haberler</a>
                    </li>

                    <li>
                        <a href="/AdminUye/Index"><i class="fa fa-dashboard "></i>Üyeler</a>
                    </li>
                    <li>
                        <a href="/AdminSlider/Index"><i class="fa fa-dashboard "></i>Slider</a>
                    </li>

                </ul>
            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <div id="footer-sec">
        &copy; 2014 YourCompany | Design By : <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="~/Content/Kaynak/adminsite/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/Content/Kaynak/adminsite/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="~/Content/Kaynak/adminsite/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~/Content/Kaynak/adminsite/assets/js/custom.js"></script>


</body>
</html>
