﻿@model IEnumerable<mvcHaber.Models.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Kategoriler</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KategoriId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KategoriId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KategoriId })
        </td>
    </tr>
}

</table>
